<a href="https://colab.research.google.com/github/Gaganaravi/Stock-Prediction-using-twitterdata/blob/main/merging_stockdata_And_twitterdata.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
files.upload()

In [ ]:
files.upload()

In [ ]:
import pandas as pd
stock_prices_dataframe =pd.read_csv('stock_prices.csv')

stock_prices_dataframe

,Date,Open,High,Low,Close,Adj Close,Volume
0,04-01-2016,25.652500,26.342501,25.500000,26.337500,24.151499,270597600
1,05-01-2016,26.437500,26.462500,25.602501,25.677500,23.546276,223164000
2,06-01-2016,25.139999,25.592501,24.967501,25.174999,23.085478,273829600
3,07-01-2016,24.670000,25.032499,24.107500,24.112499,22.111170,324377600
4,08-01-2016,24.637501,24.777500,24.190001,24.240000,22.228086,283192000
...,...,...,...,...,...,...,...
917,26-08-2019,51.465000,51.797501,51.264999,51.622501,50.505665,104174400
918,27-08-2019,51.965000,52.137501,50.882500,51.040001,49.935772,103493200
919,28-08-2019,51.025002,51.430000,50.830002,51.382500,50.270851,63755200
920,29-08-2019,52.125000,52.330002,51.665001,52.252499,51.122032,83962000
921,30-08-2019,52.540001,52.612499,51.799999,52.185001,51.055996,84573600

In [ ]:
twitter_sentiment_dataframe = pd.read_csv('twitter_sentiment.csv')

twitter_sentiment_dataframe

            Date  ts_polarity  twitter_volume
0     01-01-2016     0.119693             417
1     02-01-2016     0.140774             495
2     03-01-2016     0.181132             518
3     04-01-2016     0.070389            1133
4     05-01-2016     0.133635            1430
...          ...          ...             ...
1336  29-08-2019     0.056460            1083
1337  30-08-2019     0.106096            1005
1338  31-08-2019     0.151625             224
1339  01-09-2019     0.059887             200
1340  02-09-2019     0.086850              74

[1341 rows x 3 columns]

In [ ]:
twitter_sentiment_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1341 entries, 0 to 1340
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            1341 non-null   object
 1   ts_polarity     1341 non-null   float64
 2   twitter_volume  1341 non-null   int64
dtypes: float64(1), int64(1), object(1)
memory usage: 31.6+ KB

In [ ]:
twitter_sentiment_dataframe= twitter_sentiment_dataframe.dropna(axis = 1)

twitter_sentiment_dataframe

            Date  ts_polarity  twitter_volume
0     01-01-2016     0.119693             417
1     02-01-2016     0.140774             495
2     03-01-2016     0.181132             518
3     04-01-2016     0.070389            1133
4     05-01-2016     0.133635            1430
...          ...          ...             ...
1336  29-08-2019     0.056460            1083
1337  30-08-2019     0.106096            1005
1338  31-08-2019     0.151625             224
1339  01-09-2019     0.059887             200
1340  02-09-2019     0.086850              74

[1341 rows x 3 columns]

In [ ]:
stock_prices_dataframe= stock_prices_dataframe.dropna(axis = 1)

stock_prices_dataframe

,Date,Open,High,Low,Close,Adj Close,Volume
0,04-01-2016,25.652500,26.342501,25.500000,26.337500,24.151499,270597600
1,05-01-2016,26.437500,26.462500,25.602501,25.677500,23.546276,223164000
2,06-01-2016,25.139999,25.592501,24.967501,25.174999,23.085478,273829600
3,07-01-2016,24.670000,25.032499,24.107500,24.112499,22.111170,324377600
4,08-01-2016,24.637501,24.777500,24.190001,24.240000,22.228086,283192000
...,...,...,...,...,...,...,...
917,26-08-2019,51.465000,51.797501,51.264999,51.622501,50.505665,104174400
918,27-08-2019,51.965000,52.137501,50.882500,51.040001,49.935772,103493200
919,28-08-2019,51.025002,51.430000,50.830002,51.382500,50.270851,63755200
920,29-08-2019,52.125000,52.330002,51.665001,52.252499,51.122032,83962000
921,30-08-2019,52.540001,52.612499,51.799999,52.185001,51.055996,84573600

In [ ]:
merged_dataframe = stock_prices_dataframe.merge(twitter_sentiment_dataframe, on = "Date")
merged_dataframe

,Date,Open,High,Low,Close,Adj Close,Volume,ts_polarity,twitter_volume
0,04-01-2016,25.652500,26.342501,25.500000,26.337500,24.151499,270597600,0.070389,1133
1,05-01-2016,26.437500,26.462500,25.602501,25.677500,23.546276,223164000,0.133635,1430
2,06-01-2016,25.139999,25.592501,24.967501,25.174999,23.085478,273829600,0.072042,1949
3,07-01-2016,24.670000,25.032499,24.107500,24.112499,22.111170,324377600,0.074369,2289
4,08-01-2016,24.637501,24.777500,24.190001,24.240000,22.228086,283192000,0.051595,2235
...,...,...,...,...,...,...,...,...,...
917,26-08-2019,51.465000,51.797501,51.264999,51.622501,50.505665,104174400,0.072340,888
918,27-08-2019,51.965000,52.137501,50.882500,51.040001,49.935772,103493200,0.117541,962
919,28-08-2019,51.025002,51.430000,50.830002,51.382500,50.270851,63755200,0.061477,895
920,29-08-2019,52.125000,52.330002,51.665001,52.252499,51.122032,83962000,0.056460,1083
921,30-08-2019,52.540001,52.612499,51.799999,52.185001,51.055996,84573600,0.106096,1005

In [ ]:
merged_dataframe.to_csv("merged_stocks_and_twitter_sentiment.csv", index= False)

In [ ]:
merged_dataframe = pd.read_csv("merged_stocks_and_twitter_sentiment.csv")

merged_dataframe

,Date,Open,High,Low,Close,Adj Close,Volume,ts_polarity,twitter_volume
0,04-01-2016,25.652500,26.342501,25.500000,26.337500,24.151499,270597600,0.070389,1133
1,05-01-2016,26.437500,26.462500,25.602501,25.677500,23.546276,223164000,0.133635,1430
2,06-01-2016,25.139999,25.592501,24.967501,25.174999,23.085478,273829600,0.072042,1949
3,07-01-2016,24.670000,25.032499,24.107500,24.112499,22.111170,324377600,0.074369,2289
4,08-01-2016,24.637501,24.777500,24.190001,24.240000,22.228086,283192000,0.051595,2235
...,...,...,...,...,...,...,...,...,...
917,26-08-2019,51.465000,51.797501,51.264999,51.622501,50.505665,104174400,0.072340,888
918,27-08-2019,51.965000,52.137501,50.882500,51.040001,49.935772,103493200,0.117541,962
919,28-08-2019,51.025002,51.430000,50.830002,51.382500,50.270851,63755200,0.061477,895
920,29-08-2019,52.125000,52.330002,51.665001,52.252499,51.122032,83962000,0.056460,1083
921,30-08-2019,52.540001,52.612499,51.799999,52.185001,51.055996,84573600,0.106096,1005

In [ ]:
dataframe = merged_dataframe[["Date","Adj Close", "Volume","ts_polarity","twitter_volume"]]
dataframe

           Date  Adj Close     Volume  ts_polarity  twitter_volume
0    04-01-2016  24.151499  270597600     0.070389            1133
1    05-01-2016  23.546276  223164000     0.133635            1430
2    06-01-2016  23.085478  273829600     0.072042            1949
3    07-01-2016  22.111170  324377600     0.074369            2289
4    08-01-2016  22.228086  283192000     0.051595            2235
..          ...        ...        ...          ...             ...
917  26-08-2019  50.505665  104174400     0.072340             888
918  27-08-2019  49.935772  103493200     0.117541             962
919  28-08-2019  50.270851   63755200     0.061477             895
920  29-08-2019  51.122032   83962000     0.056460            1083
921  30-08-2019  51.055996   84573600     0.106096            1005

[922 rows x 5 columns]

In [ ]:
dataframe.set_index("Date", inplace = True)

dataframe

            Adj Close     Volume  ts_polarity  twitter_volume
Date
04-01-2016  24.151499  270597600     0.070389            1133
05-01-2016  23.546276  223164000     0.133635            1430
06-01-2016  23.085478  273829600     0.072042            1949
07-01-2016  22.111170  324377600     0.074369            2289
08-01-2016  22.228086  283192000     0.051595            2235
...               ...        ...          ...             ...
26-08-2019  50.505665  104174400     0.072340             888
27-08-2019  49.935772  103493200     0.117541             962
28-08-2019  50.270851   63755200     0.061477             895
29-08-2019  51.122032   83962000     0.056460            1083
30-08-2019  51.055996   84573600     0.106096            1005

[922 rows x 4 columns]

In [ ]:
POSITIVE_SENTIMENT_THRESHOLD= 0.05
NEGATIVE_SENTIMENT_THRESHOLD= -0.05
sentiments = []
for score in dataframe["ts_polarity"]:
  if score>= POSITIVE_SENTIMENT_THRESHOLD:
    sentiments.append("Positive")
  elif score <= NEGATIVE_SENTIMENT_THRESHOLD:
    sentiments.append("Negative")

  else:
    sentiments.append("Neutral")

dataframe["Sentiments"]= sentiments

dataframe

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

            Adj Close     Volume  ts_polarity  twitter_volume Sentiments
Date
04-01-2016  24.151499  270597600     0.070389            1133   Positive
05-01-2016  23.546276  223164000     0.133635            1430   Positive
06-01-2016  23.085478  273829600     0.072042            1949   Positive
07-01-2016  22.111170  324377600     0.074369            2289   Positive
08-01-2016  22.228086  283192000     0.051595            2235   Positive
...               ...        ...          ...             ...        ...
26-08-2019  50.505665  104174400     0.072340             888   Positive
27-08-2019  49.935772  103493200     0.117541             962   Positive
28-08-2019  50.270851   63755200     0.061477             895   Positive
29-08-2019  51.122032   83962000     0.056460            1083   Positive
30-08-2019  51.055996   84573600     0.106096            1005   Positive

[922 rows x 5 columns]

In [ ]:
dataframe["Sentiments"].value_counts()

Positive    785
Neutral     134
Negative      3
Name: Sentiments, dtype: int64

In [ ]:
dataframe["Adj Close"].value_counts()

26.358025    2
41.314774    2
41.673260    2
33.812790    2
25.766859    2
            ..
33.697456    1
33.334988    1
33.375000    1
33.198483    1
51.055996    1
Name: Adj Close, Length: 906, dtype: int64

In [ ]:
dataframe["Price Difference"] = dataframe["Adj Close"].diff()
dataframe.dropna(inplace = True)
dataframe

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

,Adj Close,Volume,ts_polarity,twitter_volume,Sentiments,Price Difference
Date,,,,,,
05-01-2016,23.546276,223164000,0.133635,1430,Positive,-0.605223
06-01-2016,23.085478,273829600,0.072042,1949,Positive,-0.460798
07-01-2016,22.111170,324377600,0.074369,2289,Positive,-0.974308
08-01-2016,22.228086,283192000,0.051595,2235,Positive,0.116916
11-01-2016,22.588011,198957600,0.019443,1222,Neutral,0.359925
...,...,...,...,...,...,...
26-08-2019,50.505665,104174400,0.072340,888,Positive,0.941673
27-08-2019,49.935772,103493200,0.117541,962,Positive,-0.569893
28-08-2019,50.270851,63755200,0.061477,895,Positive,0.335079
29-08-2019,51.122032,83962000,0.056460,1083,Positive,0.851181
30-08-2019,51.055996,84573600,0.106096,1005,Positive,-0.066036

In [ ]:
import numpy
RISE = 1
FALL =0
dataframe["Stock Trend"] = numpy.where(dataframe["Price Difference"]>0, RISE, FALL)
dataframe

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,Adj Close,Volume,ts_polarity,twitter_volume,Sentiments,Price Difference,Stock Trend
Date,,,,,,,
05-01-2016,23.546276,223164000,0.133635,1430,Positive,-0.605223,0
06-01-2016,23.085478,273829600,0.072042,1949,Positive,-0.460798,0
07-01-2016,22.111170,324377600,0.074369,2289,Positive,-0.974308,0
08-01-2016,22.228086,283192000,0.051595,2235,Positive,0.116916,1
11-01-2016,22.588011,198957600,0.019443,1222,Neutral,0.359925,1
...,...,...,...,...,...,...,...
26-08-2019,50.505665,104174400,0.072340,888,Positive,0.941673,1
27-08-2019,49.935772,103493200,0.117541,962,Positive,-0.569893,0
28-08-2019,50.270851,63755200,0.061477,895,Positive,0.335079,1
29-08-2019,51.122032,83962000,0.056460,1083,Positive,0.851181,1
30-08-2019,51.055996,84573600,0.106096,1005,Positive,-0.066036,0

In [ ]:
new_dataframe=dataframe[["Adj Close", "Volume","twitter_volume","Sentiments","Stock Trend"]]
new_dataframe = pd.get_dummies(new_dataframe, columns= ["Sentiments"])
new_dataframe

,Adj Close,Volume,twitter_volume,Stock Trend,Sentiments_Negative,Sentiments_Neutral,Sentiments_Positive
Date,,,,,,,
05-01-2016,23.546276,223164000,1430,0,0,0,1
06-01-2016,23.085478,273829600,1949,0,0,0,1
07-01-2016,22.111170,324377600,2289,0,0,0,1
08-01-2016,22.228086,283192000,2235,1,0,0,1
11-01-2016,22.588011,198957600,1222,1,0,1,0
...,...,...,...,...,...,...,...
26-08-2019,50.505665,104174400,888,1,0,0,1
27-08-2019,49.935772,103493200,962,0,0,0,1
28-08-2019,50.270851,63755200,895,1,0,0,1
29-08-2019,51.122032,83962000,1083,1,0,0,1
30-08-2019,51.055996,84573600,1005,0,0,0,1

In [ ]:

X= new_dataframe.copy()
X.drop("Stock Trend", axis =1, inplace=True) 
X

,Adj Close,Volume,twitter_volume,Sentiments_Negative,Sentiments_Neutral,Sentiments_Positive
Date,,,,,,
05-01-2016,23.546276,223164000,1430,0,0,1
06-01-2016,23.085478,273829600,1949,0,0,1
07-01-2016,22.111170,324377600,2289,0,0,1
08-01-2016,22.228086,283192000,2235,0,0,1
11-01-2016,22.588011,198957600,1222,0,1,0
...,...,...,...,...,...,...
26-08-2019,50.505665,104174400,888,0,0,1
27-08-2019,49.935772,103493200,962,0,0,1
28-08-2019,50.270851,63755200,895,0,0,1
29-08-2019,51.122032,83962000,1083,0,0,1
30-08-2019,51.055996,84573600,1005,0,0,1

In [ ]:
#Random Forest Classifier Algorithm
y = new_dataframe["Stock Trend"].values.reshape(-1,1)
y[:10]

array([[0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0]])

In [ ]:
SPLIT = int(0.8*len(X))
X_train = X[:SPLIT]
X_test=X[SPLIT:]

y_train = y[:SPLIT]
y_test= y[SPLIT:]

In [ ]:
y_test

array([[0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0]])

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_scaler = scaler.fit(X_train)
X_train_scaled =X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [ ]:
X_test_scaled

array([[ 0.76299887,  0.68517536, -0.02406478, -0.06397476, -0.46532669,
         0.47179589],
       [ 0.60421291,  0.63078115,  0.02671948, -0.06397476, -0.46532669,
         0.47179589],
       [ 0.63250348,  1.94564547,  0.53990784, -0.06397476, -0.46532669,
         0.47179589],
       ...,
       [ 1.61105797, -1.12349895, -0.33946179, -0.06397476, -0.46532669,
         0.47179589],
       [ 1.70081774, -0.78708457, -0.08821333, -0.06397476, -0.46532669,
         0.47179589],
       [ 1.69385403, -0.7769023 , -0.19245471, -0.06397476, -0.46532669,
         0.47179589]])